/* Importa todos los estilos globales */
@import './styles/_variables.css';
@import './styles/_typography.css';
@import './styles/_themes.css';

/* Estilos globales específicos */
.mat-primary {
  --mdc-theme-primary: var(--color-primary);
}

.custom-snackbar {
  background-color: var(--color-accent) !important;
  color: white !important;
}

